.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  font-size: 50px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}
@media (max-width: 818px) {
  .error {
    font-size: 35px;
  }
}
@media (max-width: 280px) {
  .error {
    font-size: 20px;
  }
}
