.title_container {
  font-family: "Inter";
  font-style: italic;
  margin: 80px 0px 0px 0px;
}
.disabled_text {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: 600;
  font-size: 80px;
}
.date_field {
  font-weight: 400;
  font-size: 20px;
}
.active_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 0px 0px;
  transition: 0.5s;
  padding: 10px 20px;
  width: 200px;
  .link {
    padding: 0px 0px 0px 5px;
  }
  &:hover {
    border-radius: 57px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 1124px) {
  .disabled_text {
    display: flex;
    flex-direction: column;
  }
  .date_field {
    padding: 15px 0px 0px 0px;
  }
}
@media (max-width: 818px) {
  .title {
    font-size: 60px;
  }
}
@media (max-width: 366px) {
  .date_field {
    font-size: 16px;
  }
}
@media (max-width: 260px) {
  .title {
    font-size: 45px;
  }
}
