.item {
  padding: 10px 15px;
  margin: 0px 5px;
  background: rgb(252, 250, 250);
  color: rgb(3, 3, 3);
  border-radius: 50%;
  border: 3px solid rgb(4, 4, 4);
  transition: 0.5s;
  &:hover {
    background: rgb(122, 122, 122);
    color: rgb(3, 3, 3);
  }
}
.item_chosen {
  padding: 10px 15px;
  margin: 0px 5px;
  background: black;
  color: white;
  border-radius: 50%;
  border: 3px solid rgb(4, 4, 4);
  transition: 0.5s;
}
